# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "Practical Reinforcement Learning: From Algorithms to Applications"
author: Pierre-Luc Bacon

url: "https://pierrelux.github.io"
baseurl: "/rlbook"

execute:
  execute_notebooks: cache
  timeout: -1 

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib
bibtex_reference_style: author_year

# Information about where the book exists on the web
repository:
  url: https://github.com/pierrelux/rlbook  # Online location of your book
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:  
  use_repository_button: true
  use_issues_button: true
  use_edit_page_button: true
  baseurl: ""
  extra_javascript:
    - https://d3js.org/d3.v7.min.js
sphinx:
  extra_extensions:
    - sphinx_proof
    - sphinxcontrib.mermaid
    - sphinxcontrib.tikz
    - sphinx.ext.graphviz
    - 'IPython.sphinxext.ipython_console_highlighting'
    - 'IPython.sphinxext.ipython_directive'
  config:
    graphviz_output_format: svg
    tikz_tikzlibraries: "shapes,arrows,positioning"
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    mathjax3_config:
      tex:
        macros:
          "bm": ["{\\boldsymbol #1}",1]
        processEscapes: True

parse:
  myst_enable_extensions:
    - dollarmath
    - amsmath
    - deflist
    - colon_fence

exclude_patterns:
  - README.md
  - venv/*
  - venv/
  - draft.md